package org.qcri.rheem.rest;

// import TYPE
import org.qcri.rheem.core.function.FunctionDescriptor;

public class OPNAME_PARAMNAME_UdfFactory {

    public static FunctionDescriptor.SerializablePredicate create() {
        return new FunctionDescriptor.SerializablePredicate<TYPE>() {
            @Override
            public boolean test(TYPE dataPoint) {
                /*
                * TODO: - Implement your predicateDescriptor udf here !
                *       - Replace TYPE with good type!
                *       - Don't forget the imports !
                * */
                return false;
            }
        };
    }
}
