package org.qcri.rheem.rest;

// import INPUT
// import OUTPUT

import org.qcri.rheem.core.function.FunctionDescriptor;


public class OPNAME_PARAMNAME_UdfFactory {

    public static FunctionDescriptor.SerializableFunction create() {
        return new FunctionDescriptor.SerializableFunction<INPUT, OUTPUT>() {
            @Override
            public OUTPUT apply(INPUT dataPoint) {
                /*
                * TODO: - Implement your Map udf here !
                *       - Replace INPUT and OUTPUT with good types!
                *       - Don't forget the imports !
                * */

                // return new OUTPUT();
            }
        };
    }
}
