package org.qcri.rheem.rest;

// import KEY_TYPE
// import TYPE

import org.qcri.rheem.core.function.FunctionDescriptor;

public class OPNAME_PARAMNAME_UdfFactory {

    public static FunctionDescriptor.SerializableFunction create() {
        return new FunctionDescriptor.SerializableFunction<TYPE, KEY_TYPE>() {
            @Override
            public KEY_TYPE apply(TYPE dataPoint) {
                /*
                * TODO: - Implement your keyExtractor udf here !
                *       - Replace TYPE and KEY_TYPE with good types!
                *       - Don't forget the imports !
                * */

                // return new KEY_TYPE();
            }
        };
    }
}
